#map-section {
    position: relative;
    width: 100%;
}

#map {
    --marginWidth: 0px;
    --marginHeight: 0px;
    --sm_img_size: 48px;
    --md_img_size: 64px;
    --lg_img_size: 72px;

    height: 100%;
    width: 100%;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    background-color: transparent;
    background-image: url("../img/background.webp");
    background-repeat: space;
    background-size: cover;
    background-position-x: center;
    -webkit-transition: 2s -webkit-filter linear;
    -moz-transition: 2s -moz-filter linear;
    -moz-transition: 2s filter linear;
    -ms-transition: 2s -ms-filter linear;
    -o-transition: 2s -o-filter linear;
    transition: 2s filter linear, 2s -webkit-filter linear;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.map-winter {
    filter: grayscale(0.8);
}

.map-autumn {
    filter: saturate(150%) hue-rotate(320deg);
}

.map-summer {
    filter: saturate(150%) contrast(120%);
}

.map-div {
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.map-div:first-child {
    margin-top: 45px;
}

.map-item {
    filter: drop-shadow(2px 2px 2px #333);
    margin: var(--marginHeight) var(--marginWidth);
    line-height: 0;
}

.map-item-sm img {
    height: var(--sm_img_size);
    width: var(--sm_img_size);
}

.map-item-md img {
    height: var(--md_img_size);
    width: var(--md_img_size);
}

.map-item-lg img {
    height: var(--lg_img_size);
    width: var(--lg_img_size);
}

@media only screen and (max-width: 960px) {
    #map {
        min-height: 300px;
    }
}