@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    cursor: url("../img/cursor.png"), auto;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-interface {
    display: flex;
}

p {
    margin: 2px;
    font-size: 12px;
}

ul {
    padding: 0;
    list-style-position: inside;
}

li {
    margin: 5px;
    font-size: 16px;
    padding-left: 20px;
}

li::marker {
    padding-left: 0;
}

select {
    font-size: 18px;
    padding: 0px 10px;
    border: 1px solid #333;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    background-color: #f0f0f0;
}

.container h3 {
    text-align: center;
}

.data {
    text-align: start;
    min-width: 250px
}

#infos {
    margin: 0px 10px;
}
#infos td:first-child {
    text-align: end;
    width: 30%;
}

.menu {
    width: 324px;
}

.time {
    padding: 10px;
    text-align: center;
}

.btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover{
    background-color: #005e3b;
    box-shadow: 0px 1px 2px 1px black;
}

.small-btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
}

.btn-active {
    background-color: #005e3b;
}

.container.data p {
    font-weight: bold;
}

#left-section{
    flex-direction: column;
    align-items: stretch;
    width: min-content;
}

#resources{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    border: 0;
    align-self: center;
    background-color: transparent;
}

.resources-row{
    display: flex;
    margin: 5px 5px;
}

.resources-btn{
	background: none;
	color: inherit;
	font: inherit;
	cursor: normal;
	outline: inherit;
    background-color: #f0f0f0;
	padding: 0;
	border: 1px solid;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.resources-btn p{
    margin: 0;
}
.resources-btn img{
    width: 16px;
    height: 16px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 1px black);
}
.resources-btn div{
    background-color: rgb(180, 180, 180);
    padding: 2px;
    border-bottom: 1px solid #333;
}

#middle-section {
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    min-height: 600px;
}

#log {
    display: block;
    font-size: 12px;
    overflow-y: scroll;
    height: 100px;
}

button:hover span {
    display: block;
    line-height: 1.5;
    font-size: 14px;
    font-weight: normal;
    min-width: 50px;
}

button:hover span b {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

#buildings-menu{
    flex-direction: row;
    width: min-content;
    height: min-content;
    padding: 10px;
}
#buildings-menu button{
    word-wrap: break-word;
    min-width: 100px;
}
#buildings-menu1,#buildings-menu2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 120px;
}

.tooltip {
    display: none;
    position: absolute;
    transform: translate(10%,-130%);
    color: #fff;
    background: #333;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px 2px black;
}

.progress-bar-background {
    width: 100%;
    margin-right: 10px;
    height: max-content;
    border: 2px solid #222;
    border-radius: 4px;
    background-color: lightgrey;
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #ffd900;
    border: 1px solid #222;
    margin: -1px;
    -webkit-transition : width 2s ease;
        transition : width 2s ease;
}

.progress-bar div {
    width: 100%;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.lack {
    color: red;
}

#pops {
    padding: 5px;
}
#pops table{
    text-align: center;
}
#pops img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 1px black);
}
#pops > table > tbody > tr > td:nth-child(2) {
    text-align: end;
}
#pops input {
    width: 90%;
}

.professions-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.professions-slider:hover {
    opacity: 1.5;
}
.professions-slider:disabled {
    appearance: inherit;
    opacity: 0.4;
}

.professions-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #005e3b;
}
  
.professions-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #005e3b;
}

.pop {
    opacity: 0;
    filter: drop-shadow(2px 2px 2px #333);
    left: 50%;
    -webkit-transition : opacity 1s ease-out;
        transition : opacity 1s ease-out;
}
.pop-live {
    opacity: 1;
}
.pop-die {
    opacity: 0;
}

#right-section {
    align-content: center;
    flex-direction: column;
}

#options{
    display: flex;
}

#save {
    height: fit-content;
    flex-direction: row;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 10px;
}

#save div{
    border: 1px solid black;
    height: max-content;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

#volume {
    width: fit-content;
    align-items: center;
    height: max-content;
}
#volume input {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}



@media only screen and (max-width: 960px) {
    body {
        flex-direction: column;
    }

    #main-interface {
        flex-wrap: wrap;
    }
    
    #left-section{
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    #right-section{
        margin: auto;
        flex-direction: row;
        align-content: stretch;
    }
    #professions {
        align-items: center;
    }
    #professions input {
        margin: 10px 5px;
    }

    .buildings-btn {
        flex-direction: row;
    }
    .buildings-btn button {
        margin: 10px;
    }

    #right-section > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #log {
        height: 100%;
        width: 200px;
        line-height: normal;
    }
}

@media only screen and (max-width: 650px) {
    #right-section {
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    #left-section{
        flex-direction: column;
    }
}

.hidden {
    display: none;
}