@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    cursor: url("../img/cursor.png"), auto;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-interface {
    display: flex;
}

p {
    margin: 4px;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 10px;
    padding: 2px;
    background-color: rgb(240, 240, 240);
}

.container h3 {
    text-align: center;
}

.data {
    text-align: start;
}

.menu {
    width: 324px;
}

.time {
    padding: 10px;
    text-align: center;
}

.btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover{
    background-color: #005e3b;
    box-shadow: 0px 1px 2px 1px black;
}

.small-btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
}

.btn-active {
    background-color: #005e3b;
}

.container.data p {
    font-weight: bold;
}

#start-game{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    width: 50%;
    border: 3px solid green;
    box-shadow: 0px 0px 5px 1px black;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
#start-game h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#start-game img{
    width: 100px;
    margin: 10px;
}
#start-game p{
    font-size: 18px;
    margin: 5px;
    line-height: 2;
}
#start-game input{
    font-size: 16px;
    padding: 20px;
    margin: 10px;
}

#resources{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    padding: 0;
    border: 0;
}
.resources-btn{
	background: none;
	color: inherit;
	font: inherit;
	cursor: normal;
	outline: inherit;

	padding: 0;
	border: 1px solid;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.resources-btn p{
    margin: 0;
    line-height: 1.5;
}
.resources-btn img{
    width: 16px;
    height: 16px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 1px black);
}
.resources-btn div{
    background-color: rgb(180, 180, 180);
    padding: 5px;
    border-bottom: 1px solid #333;
}

#right-section {
    flex-direction: column;
    width: 100%;
}

#log {
    min-height: 80px;
}

#log p {
    font-size: 12px;
    line-height: 0.5;
}

#map {
    display: flex;
    height: 100%;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    background-image: url("../img/grass.png");
    background-repeat: repeat;
    -webkit-transition: 2s -webkit-filter linear;
    -moz-transition: 2s -moz-filter linear;
    -moz-transition: 2s filter linear;
    -ms-transition: 2s -ms-filter linear;
    -o-transition: 2s -o-filter linear;
    transition: 2s filter linear, 2s -webkit-filter linear;
}

.map-winter {
    filter: grayscale(0.8);
}

.map-autumn {
    filter: saturate(150%) hue-rotate(320deg);
}

.map-summer {
    filter: saturate(150%) contrast(120%);
}

.map-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.map-item {
    filter: drop-shadow(2px 2px 2px #333);
    margin: -6px;
}

.map-item-sm img {
    height: 32px;
    width: 32px;
}

.map-item-md img {
    height: 48px;
    width: 48px;
}

.map-item-lg img {
    height: 64px;
    width: 64px;
}

button:hover span {
    display: block;
    line-height: 1.5;
    font-size: 14px;
    font-weight: normal;
    min-width: 50px;
}

button:hover span b {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

#buildings-menu{
    flex-direction: row;
}
#buildings-menu button{
    width: 100px;
    word-wrap: break-word;
}

.buildings-btn{
    display: flex;
    flex-direction: column;
}

.tooltip {
    display: none;
    position: absolute;
    transform: translate(10%,-130%);
    color: #fff;
    background: #333;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px 2px black;
}

.progress-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-stat p {
    min-width: 30%;
}

.progress-bar-background {
    width: 100%;
    margin-right: 10px;
    height: max-content;
    border: 2px solid #222;
    border-radius: 4px;
    background-color: lightgrey;
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #ffd900;
    border: 1px solid #222;
    margin: -1px;
    -webkit-transition : width 2s ease;
   -moz-transition : width 2s ease;
     -o-transition : width 2s ease;
        transition : width 2s ease;
}

.progress-bar div {
    width: 100%;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.lack {
    color: red;
}

@media only screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }
    
    #left-interface{
        margin: auto;
    }

    #map {
        width: auto;
        min-height: 300px;
    }

    #resources{
        grid-template-columns: 90px 90px 90px;
    }

    #main-interface {
        flex-wrap: wrap;
    }

    #start-game {
        width: 75%;
    }
    
    #buildings-menu{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .buildings-btn{
        flex-direction: row;
    }
    .buildings-btn button{
        margin: 10px;
    }
}

.hidden {
    display: none;
}