body {
    display: flex;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.data {
    text-align: start;
}

.menu {
    width: 200px;
}

.time {
    padding: 10px;
    text-align: center;
}

.map-item {
    margin: 2px;
    text-shadow: 2px 2px 4px #777;
    color: black;
}

.btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
}

.small-btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

#map {
    display: flex;
    width: 100%;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgb(107,155,30);
    background: radial-gradient(circle, rgba(107,155,30,1) 0%, rgba(141,191,57,1) 100%);
    border: 2px solid black;
}

.container.data p {
    font-weight: bold;
    margin: 10px;
}